## Importing data

In [26]:
import pandas as pd

data = pd.read_excel("datasets/trips_data.xlsx", index_col=0)

In [27]:
data

,salary,city,age,vacation_preference,transport_preference,family_members,target
0,196000,Краснодар,25,Шоппинг,Автомобиль,1,New York
1,152000,Екатеринбург,60,Архитектура,Самолет,1,London
2,83000,Томск,49,Архитектура,Автомобиль,2,Sydney
3,161000,Краснодар,41,Шоппинг,Автомобиль,0,New York
4,146000,Краснодар,58,Архитектура,Самолет,1,Sydney
...,...,...,...,...,...,...,...
995,81000,Краснодар,55,Пляжный отдых,Морской транспорт,2,Paris
996,96000,Краснодар,32,Архитектура,Поезд,1,Paris
997,56000,Краснодар,68,Архитектура,Самолет,2,Paris
998,162000,Краснодар,69,Архитектура,Самолет,0,Sydney
999,171000,Краснодар,35,Архитектура,Автомобиль,1,New York

In [32]:
prepared_data = pd.get_dummies(data, columns=['city', 'vacation_preference', 'transport_preference'])
prepared_data

,salary,age,family_members,target,city_Екатеринбург,city_Киев,city_Краснодар,city_Минск,city_Москва,city_Новосибирск,...,city_Ярославль,vacation_preference_Архитектура,vacation_preference_Ночные клубы,vacation_preference_Пляжный отдых,vacation_preference_Шоппинг,transport_preference_Автомобиль,transport_preference_Космический корабль,transport_preference_Морской транспорт,transport_preference_Поезд,transport_preference_Самолет
0,196000,25,1,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,152000,60,1,London,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,83000,49,2,Sydney,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,161000,41,0,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,146000,58,1,Sydney,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,81000,55,2,Paris,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
996,96000,32,1,Paris,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
997,56000,68,2,Paris,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
998,162000,69,0,Sydney,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
999,171000,35,1,New York,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [33]:
data_input = prepared_data.drop('target', axis=1)

In [34]:
data_output = prepared_data.target

## Create model

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
forest = RandomForestClassifier()
forest.fit(data_input, data_output)

RandomForestClassifier()

In [44]:
forest.predict(data_input)

array(['New York', 'London', 'Sydney', 'New York', 'Sydney', 'Tokio',
       'London', 'New York', 'Sydney', 'New York', 'New York', 'London',
       'Paris', 'Tokio', 'Paris', 'Tokio', 'Tokio', 'Paris', 'London',
       'Paris', 'Paris', 'Sydney', 'Sydney', 'Tokio', 'New York', 'Paris',
       'London', 'New York', 'Tokio', 'Tokio', 'Sydney', 'London',
       'Sydney', 'Paris', 'Sydney', 'London', 'Tokio', 'Paris', 'Paris',
       'Paris', 'Sydney', 'Sydney', 'London', 'Sydney', 'London',
       'New York', 'New York', 'Paris', 'Sydney', 'Sydney', 'New York',
       'Sydney', 'Paris', 'Paris', 'Paris', 'London', 'Tokio', 'Tokio',
       'Tokio', 'New York', 'Paris', 'London', 'Sydney', 'Sydney',
       'Paris', 'Tokio', 'Paris', 'Tokio', 'Sydney', 'New York', 'London',
       'New York', 'Sydney', 'Sydney', 'Paris', 'Paris', 'New York',
       'Sydney', 'Sydney', 'New York', 'Paris', 'New York', 'Paris',
       'London', 'Tokio', 'Paris', 'Sydney', 'London', 'Tokio', 'London',
       'Tokio', 'New York', 'Tokio', 'Tokio', 'Paris', 'Tokio', 'London',
       'Paris', 'Sydney', 'Paris', 'Sydney', 'Sydney', 'New York',
       'Paris', 'London', 'Paris', 'London', 'Sydney', 'London', 'London',
       'Tokio', 'London', 'London', 'New York', 'London', 'Paris',
       'New York', 'Sydney', 'Tokio', 'Paris', 'Paris', 'New York',
       'New York', 'New York', 'Tokio', 'Paris', 'Sydney', 'Sydney',
       'Paris', 'Tokio', 'New York', 'Sydney', 'Tokio', 'Sydney',
       'London', 'London', 'Sydney', 'Sydney', 'Sydney', 'Sydney',
       'Sydney', 'London', 'Sydney', 'Sydney', 'New York', 'New York',
       'New York', 'Tokio', 'New York', 'New York', 'Paris', 'Paris',
       'Tokio', 'Tokio', 'Paris', 'London', 'Sydney', 'New York', 'Paris',
       'Paris', 'Paris', 'London', 'Paris', 'Tokio', 'Sydney', 'London',
       'Paris', 'Sydney', 'Tokio', 'New York', 'London', 'London',
       'Tokio', 'London', 'Sydney', 'Paris', 'New York', 'Tokio',
       'London', 'Tokio', 'London', 'Paris', 'Paris', 'Paris', 'Sydney',
       'New York', 'Sydney', 'Sydney', 'Sydney', 'Paris', 'New York',
       'Paris', 'Sydney', 'London', 'Sydney', 'Sydney', 'Paris', 'London',
       'Tokio', 'Tokio', 'London', 'Paris', 'New York', 'Paris', 'Sydney',
       'Sydney', 'Tokio', 'Tokio', 'Paris', 'Paris', 'Sydney', 'Tokio',
       'Paris', 'New York', 'Tokio', 'New York', 'Tokio', 'New York',
       'Paris', 'Tokio', 'London', 'London', 'Tokio', 'London', 'Paris',
       'Sydney', 'Sydney', 'Sydney', 'Tokio', 'New York', 'New York',
       'Tokio', 'Paris', 'Paris', 'Sydney', 'London', 'Paris', 'London',
       'London', 'London', 'Paris', 'New York', 'London', 'London',
       'Paris', 'Tokio', 'New York', 'Paris', 'London', 'New York',
       'Tokio', 'Sydney', 'New York', 'Tokio', 'Tokio', 'New York',
       'Sydney', 'London', 'New York', 'London', 'Sydney', 'Tokio',
       'Paris', 'Sydney', 'London', 'Paris', 'Paris', 'Sydney', 'Tokio',
       'Sydney', 'New York', 'Tokio', 'London', 'Sydney', 'Sydney',
       'Tokio', 'Sydney', 'Paris', 'Tokio', 'Sydney', 'Tokio', 'London',
       'Paris', 'Tokio', 'London', 'Tokio', 'New York', 'New York',
       'New York', 'Paris', 'Sydney', 'Sydney', 'London', 'New York',
       'Tokio', 'Tokio', 'Paris', 'Tokio', 'Sydney', 'Tokio', 'Tokio',
       'London', 'New York', 'Sydney', 'Tokio', 'Sydney', 'Sydney',
       'New York', 'Paris', 'New York', 'Sydney', 'London', 'New York',
       'New York', 'New York', 'Sydney', 'New York', 'London', 'New York',
       'London', 'New York', 'Tokio', 'London', 'New York', 'London',
       'London', 'Sydney', 'Sydney', 'London', 'Tokio', 'London', 'Tokio',
       'London', 'Sydney', 'New York', 'New York', 'New York', 'Paris',
       'Sydney', 'New York', 'Paris', 'Tokio', 'New York', 'Tokio',
       'Tokio', 'Sydney', 'London', 'London', 'New York', 'Paris',
       'New York', 'Paris', 'Sydney', 'New York', 'New York', 'Paris',
       'London', 'Tokio', 'Paris', 'Paris', 'London', 'Sydney', 'Tokio',
       'Paris', 'Tokio', 'Sydney', 'Paris', 'Sydney', 'London', 'London',
       'Sydney', 'Paris', 'New York', 'Tokio', 'London', 'London',
       'Sydney', 'London', 'Sydney', 'Tokio', 'Tokio', 'Sydney', 'London',
       'New York', 'Sydney', 'New York', 'London', 'Tokio', 'New York',
       'Paris', 'Tokio', 'London', 'London', 'London', 'Paris', 'London',
       'Paris', 'Paris', 'New York', 'Paris', 'Tokio', 'London',
       'New York', 'Tokio', 'New York', 'Tokio', 'New York', 'Sydney',
       'Tokio', 'London', 'London', 'Sydney', 'Sydney', 'Tokio', 'Paris',
       'New York', 'Sydney', 'New York', 'Sydney', 'Tokio', 'New York',
       'London', 'Paris', 'New York', 'New York', 'London', 'Sydney',
       'London', 'Paris', 'London', 'Tokio', 'Sydney', 'New York',
       'Tokio', 'New York', 'Paris', 'London', 'Paris', 'Paris', 'Paris',
       'New York', 'London', 'London', 'London', 'Tokio', 'New York',
       'Tokio', 'Tokio', 'Tokio', 'New York', 'Paris', 'Tokio', 'Paris',
       'Tokio', 'New York', 'London', 'New York', 'Paris', 'Sydney',
       'Sydney', 'Sydney', 'Tokio', 'New York', 'Sydney', 'Paris',
       'Paris', 'London', 'London', 'London', 'Tokio', 'Tokio', 'Paris',
       'Sydney', 'London', 'London', 'New York', 'Sydney', 'London',
       'Sydney', 'New York', 'New York', 'Sydney', 'Sydney', 'Tokio',
       'Paris', 'Paris', 'Paris', 'Paris', 'Paris', 'Tokio', 'London',
       'Tokio', 'New York', 'New York', 'London', 'New York', 'New York',
       'New York', 'Tokio', 'Sydney', 'London', 'Sydney', 'Paris',
       'London', 'Sydney', 'Paris', 'Tokio', 'Paris', 'London', 'Tokio',
       'Paris', 'London', 'Sydney', 'London', 'Sydney', 'New York',
       'London', 'Sydney', 'Tokio', 'Paris', 'Tokio', 'New York', 'Paris',
       'Tokio', 'Tokio', 'New York', 'Sydney', 'London', 'Tokio', 'Tokio',
       'Sydney', 'Sydney', 'Sydney', 'New York', 'Tokio', 'New York',
       'London', 'Tokio', 'London', 'Tokio', 'Tokio', 'Paris', 'London',
       'New York', 'Sydney', 'London', 'Tokio', 'Sydney', 'London',
       'Paris', 'New York', 'New York', 'London', 'New York', 'Paris',
       'Sydney', 'New York', 'New York', 'London', 'New York', 'Tokio',
       'London', 'London', 'Paris', 'New York', 'Paris', 'New York',
       'Paris', 'Tokio', 'Paris', 'London', 'New York', 'Tokio', 'London',
       'Paris', 'New York', 'Sydney', 'New York', 'Sydney', 'New York',
       'Paris', 'Tokio', 'New York', 'New York', 'London', 'London',
       'Tokio', 'Sydney', 'London', 'London', 'New York', 'Paris',
       'Sydney', 'London', 'Sydney', 'New York', 'Sydney', 'London',
       'Paris', 'Sydney', 'New York', 'Tokio', 'New York', 'Tokio',
       'Tokio', 'New York', 'Sydney', 'Sydney', 'London', 'Tokio',
       'Paris', 'Paris', 'London', 'Tokio', 'Tokio', 'New York', 'Tokio',
       'Sydney', 'Paris', 'Sydney', 'Tokio', 'Paris', 'Sydney', 'Tokio',
       'London', 'Tokio', 'Paris', 'New York', 'Paris', 'Sydney', 'Paris',
       'Sydney', 'London', 'New York', 'Sydney', 'Paris', 'Sydney',
       'New York', 'Paris', 'Tokio', 'London', 'London', 'Paris',
       'London', 'London', 'Tokio', 'Paris', 'New York', 'Sydney',
       'New York', 'Tokio', 'New York', 'Paris', 'New York', 'Tokio',
       'Tokio', 'New York', 'Paris', 'New York', 'London', 'Sydney',
       'Tokio', 'London', 'Sydney', 'Tokio', 'Paris', 'London', 'Paris',
       'New York', 'London', 'London', 'London', 'New York', 'Tokio',
       'Tokio', 'New York', 'Tokio', 'Sydney', 'New York', 'New York',
       'Sydney', 'London', 'Paris', 'Tokio', 'London', 'Paris', 'Paris',
       'New York', 'Sydney', 'Tokio', 'London', 'Tokio', 'New York',
       'New York', 'Tokio', 'Paris', 'Sydney', 'Tokio', 'Tokio', 'Tokio',
       'London', 'Sydney', 'Tokio', 'Paris', 'New York', 'Tokio',
       'Sydney', 'Sydney', 'Paris', 'Sydney', 'Paris', 'Sydney', 'Tokio',
       'Sydney', 'Paris', 'London', 'Paris', 'Sydney', 'Sydney', 'Paris',
       'Tokio', 'New York', 'Sydney', 'Tokio', 'New York', 'Paris',
       'London', 'Tokio', 'New York', 'Tokio', 'Tokio', 'Paris', 'Tokio',
       'Sydney', 'Tokio', 'Tokio', 'New York', 'New York', 'London',
       'New York', 'New York', 'New York', 'London', 'London', 'Paris',
       'Paris', 'Sydney', 'Paris', 'Sydney', 'Paris', 'London', 'London',
       'Tokio', 'London', 'Paris', 'Tokio', 'New York', 'New York',
       'Tokio', 'Sydney', 'Tokio', 'Paris', 'London', 'London', 'London',
       'Sydney', 'New York', 'New York', 'Paris', 'Sydney', 'New York',
       'New York', 'New York', 'New York', 'London', 'Paris', 'Tokio',
       'Paris', 'London', 'Paris', 'Tokio', 'Tokio', 'Paris', 'New York',
       'London', 'Sydney', 'New York', 'Paris', 'London', 'London',
       'New York', 'Paris', 'Paris', 'Sydney', 'New York', 'Paris',
       'London', 'New York', 'New York', 'Tokio', 'New York', 'Paris',
       'Sydney', 'Paris', 'Sydney', 'Sydney', 'Tokio', 'London', 'Paris',
       'Tokio', 'Tokio', 'New York', 'New York', 'Paris', 'Sydney',
       'London', 'Tokio', 'Sydney', 'New York', 'New York', 'New York',
       'London', 'Tokio', 'London', 'London', 'Paris', 'Paris', 'London',
       'Sydney', 'New York', 'Tokio', 'Tokio', 'Paris', 'Sydney',
       'Sydney', 'London', 'New York', 'London', 'London', 'London',
       'Sydney', 'Paris', 'New York', 'Paris', 'Sydney', 'Tokio',
       'London', 'Tokio', 'Sydney', 'Paris', 'London', 'Tokio', 'Sydney',
       'Tokio', 'Paris', 'New York', 'London', 'Paris', 'London', 'Tokio',
       'New York', 'Sydney', 'Tokio', 'Sydney', 'Tokio', 'Tokio',
       'London', 'Paris', 'New York', 'Tokio', 'Sydney', 'New York',
       'London', 'Sydney', 'Tokio', 'London', 'Tokio', 'London', 'Sydney',
       'Paris', 'London', 'Sydney', 'Sydney', 'Paris', 'Sydney', 'Sydney',
       'New York', 'New York', 'Tokio', 'Paris', 'Paris', 'London',
       'New York', 'London', 'London', 'London', 'Tokio', 'New York',
       'Sydney', 'Tokio', 'Paris', 'Tokio', 'Sydney', 'Paris', 'Sydney',
       'Sydney', 'New York', 'Paris', 'London', 'Tokio', 'Tokio', 'Tokio',
       'Tokio', 'Paris', 'Sydney', 'London', 'London', 'Sydney', 'Sydney',
       'London', 'Paris', 'New York', 'Paris', 'London', 'London',
       'London', 'New York', 'Tokio', 'Sydney', 'Sydney', 'New York',
       'London', 'Paris', 'Paris', 'Paris', 'Paris', 'New York', 'Paris',
       'London', 'Paris', 'New York', 'Sydney', 'Paris', 'London',
       'Sydney', 'Tokio', 'New York', 'London', 'Paris', 'Tokio',
       'London', 'London', 'Tokio', 'Tokio', 'Paris', 'Paris', 'New York',
       'Paris', 'Tokio', 'Paris', 'Tokio', 'New York', 'Paris', 'Sydney',
       'London', 'London', 'Sydney', 'Paris', 'Tokio', 'New York',
       'New York', 'New York', 'New York', 'London', 'Sydney', 'New York',
       'Paris', 'Tokio', 'Tokio', 'Tokio', 'Sydney', 'Sydney', 'Paris',
       'Sydney', 'New York', 'London', 'New York', 'London', 'London',
       'Tokio', 'New York', 'Tokio', 'Paris', 'Sydney', 'New York',
       'Paris', 'Paris', 'Paris', 'Sydney', 'New York'], dtype=object)

In [45]:
forest.predict_proba(data_input)

array([[0.  , 0.99, 0.  , 0.01, 0.  ],
       [0.99, 0.  , 0.  , 0.  , 0.01],
       [0.  , 0.  , 0.01, 0.98, 0.01],
       ...,
       [0.01, 0.15, 0.81, 0.  , 0.03],
       [0.  , 0.  , 0.  , 0.99, 0.01],
       [0.  , 0.99, 0.01, 0.  , 0.  ]])